openapi: 3.2.0
info:
  title: Gp Connect Patient API
  version: Computed and injected at build time by `scripts/set_version.py`
  description: 'Operations tagged Patient across 3 of this provider''s published API definitions: gp-connect-appointments-management-fhir.yaml, gp-connect-patient-facing-access-record-fhir.yaml, gp-connect-patient-facing-prescriptions-management-fhir.yaml. Each path carries the servers of the definition it was published in.'
servers:
- description: Sandbox environment.
  url: https://sandbox.api.service.nhs.uk/gp-connect/patient-facing/appointments-management-fhir/FHIR/STU3/
- description: Integration test environment.
  url: https://int.api.service.nhs.uk/gp-connect/patient-facing/appointments-management-fhir/FHIR/STU3/
- description: Production environment.
  url: https://api.service.nhs.uk/gp-connect/patient-facing/appointments-management-fhir/FHIR/STU3/
- url: https://sandbox.api.service.nhs.uk/gp-connect/patient-facing/access-record-fhir/FHIR/STU3/
  description: Sandbox environment.
- url: https://int.api.service.nhs.uk/gp-connect/patient-facing/access-record-fhir/FHIR/STU3/
  description: Integration test environment.
- url: https://api.service.nhs.uk/gp-connect/patient-facing/access-record-fhir/FHIR/STU3/
  description: Production environment.
- url: https://sandbox.api.service.nhs.uk/gp-connect/patient-facing/prescriptions-management-fhir/FHIR/R4
  description: Sandbox environment.
- url: https://int.api.service.nhs.uk/gp-connect/patient-facing/prescriptions-management-fhir/FHIR/R4
  description: Integration test environment.
- url: https://api.service.nhs.uk/gp-connect/patient-facing/prescriptions-management-fhir/FHIR/R4
  description: Production environment.
tags:
- name: Patient
paths:
  /Patient/{id}/Appointment:
    get:
      summary: Read a patient's appointments
      description: Retrieve all appointments for the patient within a defined time-frame.
      parameters:
      - $ref: '#/components/parameters/BearerAuthorization'
      - $ref: '#/components/parameters/CorrelationID'
      - $ref: '#/components/parameters/RequestID'
      - name: id
        in: path
        description: The patient's NHS number. The primary identifier of a patient, unique within NHS England and Wales. Always 10 digits and must be a [valid NHS number](https://www.datadictionary.nhs.uk/attributes/nhs_number.html).
        required: true
        schema:
          type: string
        example: '9000000009'
      - name: start
        in: query
        description: Appointment start/end dates. Default values show a query for appointments on or after 2020-05-09 and on or before 2020-05-19.
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
          default:
          - ge2020-05-09
          - le2020-05-19
      - in: query
        name: _include:recurse
        description: 'Appointment:actor:Practitioner Include Practitioner resources referenced in Appointment:actor

          Appointment:actor:Location Include Location resources referenced in Appointment:actor

          '
        schema:
          type: array
          items:
            type: string
            enum:
            - Appointment:actor:Practitioner
            - Appointment:actor:Location
      - name: past-appt-limit
        in: query
        description: Number of past appointments to return in query, starting at the date given in the "le" portion of the start parameter and working backwards. Parameter is optional, if no value supplied then no limits are applied.
        required: false
        schema:
          type: string
          example: '5'
      - name: status
        in: query
        description: 'The type of status to search: you can find valid values [here](https://simplifier.net/packages/hl7.fhir.r4.core/4.0.1/files/83480)

          '
        required: false
        schema:
          type: string
          example: proposed
      responses:
        200:
          description: OK
          content:
            application/fhir+json:
              schema:
                type: object
                description: Link to Profile--GPConnect-Appointment-1 resource population guidance [here](https://simplifier.net/guide/gpconnect-data-model/Home/FHIR-Assets/All-assets/Profiles/Profile--GPConnect-Appointment-1?version=current).
              examples:
                example:
                  $ref: components/examples/PatientAppointment.yaml
        4XX:
          description: 'An error occurred as follows:



            | HTTP status | Error code               | Description                                                        |

            | ----------- | ----------               | -----------                                                        |

            | 400         | INVALID_IDENTIFIER_VA    | Invalid identifier value                                           |

            | 400         | BAD_REQUEST              | Submitted request is malformed/invalid                             |

            | 400         | VALIDATION_ERROR         | This is the "default" error thrown when no others are applicable   |

            | 400         | UNSUPPORTED_VALUE        | There was an unsupported value in the request                      |

            | 400         | NO_ORGANISATION_CONSENT  | Organisation has not provided consent to share data                |

            | 400         | BAD_REQUEST              | Submitted request is malformed/invalid                             |

            | 403         | ACCESS_DENIED            | Access denied                                                      |

            | 404         | NO_RECORD_FOUND          | No record found                                                    |

            '
          content:
            application/fhir+json:
              schema:
                type: object
                description: Link to GPConnect-OperationOutcome-1 resource population guidance [here](https://simplifier.net/guide/gpconnect-data-model/Home/FHIR-Assets/All-assets/Profiles/Profile--GPConnect-OperationOutcome-1?version=current).
              examples:
                example:
                  value:
                    resourceType: OperationOutcome
                    meta:
                      profile:
                      - https://fhir.nhs.uk/STU3/StructureDefinition/GPConnect-OperationOutcome-1
                    issue:
                    - severity: error
                      code: not-found
                      details:
                        coding:
                        - system: https://fhir.nhs.uk/STU3/ValueSet/Spine-ErrorOrWarningCode-1
                          code: NO_RECORD_FOUND
                          display: No record found
      tags:
      - Patient
      operationId: getPatientByIdAppointment
      x-operation-id-source: derived
    servers:
    - description: Sandbox environment.
      url: https://sandbox.api.service.nhs.uk/gp-connect/patient-facing/appointments-management-fhir/FHIR/STU3/
    - description: Integration test environment.
      url: https://int.api.service.nhs.uk/gp-connect/patient-facing/appointments-management-fhir/FHIR/STU3/
    - description: Production environment.
      url: https://api.service.nhs.uk/gp-connect/patient-facing/appointments-management-fhir/FHIR/STU3/
  /Patient/$gpc.getstructuredrecord:
    post:
      operationId: get-structured-record
      summary: Access a structured record relating to a patient
      description: '## Overview


        This end point returns a patient''s record in structured format using FHIR Operations. It returns a Bundle.


        The request body must be a Parameters resource.


        For administrative purposes, every response must return the following resources within the Bundle:


        * Patient resource matching the NHS Number sent in the body of the request


        * Organization matching the patient''s registered GP practice, referenced from Patient.generalPractitioner


        * Organization matching the organisation serving the request, if different from above, referenced from Patient.managingOrganization


        * Practitioner matching the patient''s usual GP, if they have one, referenced from Patient.generalPractitioner


        * PractitionerRole matching the usual GP''s role'
      parameters:
      - $ref: '#/components/parameters/BearerAuthorization'
      - $ref: '#/components/parameters/CorrelationID'
      - $ref: '#/components/parameters/RequestID_2'
      requestBody:
        required: true
        description: Valid request for the entire record.
        content:
          application/fhir+json:
            schema:
              type: object
              description: 'Request all information that has been recorded for the patient in the last three months. Information on how the parameters resource is populated can be found [here.](https://simplifier.net/guide/GP-Connect-Patient-Facing-Access-Record/Home/Build/Retrieve-a-patient-s-structured-record.page.md?version=current)

                '
            examples:
              fullRecordRequest:
                value:
                  resourceType: Parameters
                  parameter:
                  - name: patientNHSNumber
                    valueIdentifier:
                      system: https://fhir.nhs.uk/Id/nhs-number
                      value: '9000000009'
                  - name: includeAllergies
                    part:
                    - name: includeResolvedAllergies
                      valueBoolean: true
                  - name: includeConsultations
                    part:
                    - name: consultationSearchPeriod
                      valuePeriod:
                        start: '2019-12-21'
                        end: '2020-02-21'
                  - name: includeProblems
                    part:
                    - name: filterStatus
                      valueCode: active
                    - name: filterSignificance
                      valueCode: major
                  - name: includeImmunizations
                    part:
                    - name: includeNotGiven
                      valueBoolean: true
                    - name: includeStatus
                      valueBoolean: true
                  - name: includeInvestigations
                  - name: includeMedication
              repeatOnlyRequest:
                value:
                  resourceType: Parameters
                  parameter:
                  - name: patientNHSNumber
                    valueIdentifier:
                      system: https://fhir.nhs.uk/Id/nhs-number
                      value: '9999999999'
                  - name: includeMedication
                    part:
                    - name: medicationSearchFromDate
                      valueDate: '2019-02-21'
                    - name: prescriptionType
                      value: repeat
      responses:
        '200':
          description: 'Information surrounding how a patients structured is retrieved can be found [here.](https://simplifier.net/guide/GP-Connect-Patient-Facing-Access-Record/Home/Build/Retrieve-a-patient-s-structured-record.page.md?version=current)

            Examples of the payload requests and responses can be found here:

            * [Allergies FHIR examples](https://simplifier.net/guide/GP-Connect-Patient-Facing-Access-Record/Home/Examples/Allergies?version=current)

            * [Medications FHIR examples](https://simplifier.net/guide/GP-Connect-Patient-Facing-Access-Record/Home/Examples/Medications?version=current)

            * [Immunizations FHIR examples](https://simplifier.net/guide/GP-Connect-Patient-Facing-Access-Record/Home/Examples/Immunizations?version=current)

            * [Consultations FHIR examples](https://simplifier.net/guide/GP-Connect-Patient-Facing-Access-Record/Home/Examples/Consultations?version=current)

            * [Investigations FHIR examples](https://simplifier.net/guide/GP-Connect-Patient-Facing-Access-Record/Home/Examples/Investigations?version=current)

            * [Combined FHIR examples](https://simplifier.net/guide/GP-Connect-Patient-Facing-Access-Record/Home/Examples/Multiple-combined?version=current)

            * [Problems examples](https://simplifier.net/guide/GP-Connect-Patient-Facing-Access-Record/Home/Examples/Problems?version=current)

            '
          content:
            application/fhir+json:
              schema:
                type: object
              examples:
                immunizations:
                  value:
                    resourceType: Bundle
                    type: collection
                    meta:
                      profile:
                      - https://fhir.nhs.uk/STU3/StructureDefinition/GPConnect-StructuredRecord-Bundle-1
                    entry:
                    - resource:
                        resourceType: Patient
                        id: 04603d77-1a4e-4d63-b246-d7504f8bd833
                        meta:
                          versionId: '1469448000000'
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-Patient-1
                        extension:
                        - url: https://fhir.nhs.uk/STU3/StructureDefinition/Extension-CareConnect-GPC-RegistrationDetails-1
                          extension:
                          - url: registrationPeriod
                            valuePeriod:
                              start: '1962-07-13T00:00:00+00:00'
                        identifier:
                        - extension:
                          - url: https://fhir.nhs.uk/STU3/StructureDefinition/Extension-CareConnect-GPC-NHSNumberVerificationStatus-1
                            valueCodeableConcept:
                              coding:
                              - system: https://fhir.nhs.uk/CareConnect-NHSNumberVerificationStatus-1
                                code: '01'
                                display: Number present and verified
                          system: https://fhir.nhs.uk/Id/nhs-number
                          value: '9999999999'
                        active: true
                        name:
                        - use: official
                          text: JACKSON Jane (Miss)
                          family: Jackson
                          given:
                          - Jane
                          prefix:
                          - Miss
                        telecom:
                        - system: phone
                          value: 01454587554
                          use: home
                        gender: female
                        birthDate: '1952-05-31'
                        address:
                        - use: home
                          type: physical
                          line:
                          - Cable Place
                          - Roundhay
                          city: Leeds
                          district: West Yorkshire
                          postalCode: LS1 5HT
                        generalPractitioner:
                          reference: Practitioner/6c41ebfd-57c3-4162-9d7b-208c171a2fd7
                        managingOrganization:
                          reference: Organization/db67f447-b30d-442a-8e31-6918d1367eeb
                    - resource:
                        resourceType: Organization
                        id: db67f447-b30d-442a-8e31-6918d1367eeb
                        meta:
                          versionId: '636064088098730113'
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-Organization-1
                        identifier:
                        - system: https://fhir.nhs.uk/Id/ods-organization-code
                          value: O001
                        name: The Trevelyan Practice
                        address:
                        - line:
                          - Trevelyan Square
                          - Boar Ln
                          city: Leeds
                          district: West Yorkshire
                          postalCode: LS1 6AE
                        telecom:
                        - system: phone
                          value: 03003035678
                          use: work
                    - resource:
                        resourceType: Practitioner
                        id: 6c41ebfd-57c3-4162-9d7b-208c171a2fd7
                        meta:
                          versionId: '1469448000000'
                          lastUpdated: '2016-07-25T12:00:00.000+00:00'
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-Practitioner-1
                        identifier:
                        - system: https://fhir.nhs.uk/Id/sds-user-id
                          value: G13579135
                        name:
                        - use: usual
                          family: Gilbert
                          given:
                          - Nichole
                          prefix:
                          - Miss
                        gender: female
                    - resource:
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-PractitionerRole-1
                        resourceType: PractitionerRole
                        id: e0244de8-07ef-4274-9f7a-d7067bcc8d21
                        practitioner:
                          reference: Practitioner/6c41ebfd-57c3-4162-9d7b-208c171a2fd7
                        organization:
                          reference: Organization/db67f447-b30d-442a-8e31-6918d1367eeb
                        code:
                        - coding:
                          - system: https://fhir.hl7.org.uk/STU3/CodeSystem/CareConnect-SDSJobRoleName-1
                            code: R0260
                            display: General Medical Practitioner
                    - resource:
                        resourceType: Organization
                        id: db67f447-b30d-442a-8e31-6918d1367eec
                        meta:
                          versionId: '636064088098730113'
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-Organization-1
                        name: Acme Drug Corp
                    - resource:
                        resourceType: Location
                        id: '17'
                        meta:
                          versionId: '636064088100870233'
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-Location-1
                        name: The Trevelyan Practice
                        address:
                          line:
                          - Trevelyan Square
                          - Boar Ln
                          - Leeds
                          postalCode: LS1 6AE
                        telecom:
                          system: phone
                          value: 03003035678
                          use: work
                        managingOrganization:
                          reference: Organization/db67f447-b30d-442a-8e31-6918d1367eeb
                    - resource:
                        resourceType: List
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-List-1
                        status: current
                        mode: snapshot
                        title: Immunisations
                        code:
                          coding:
                          - code: '1102181000000102'
                            display: Immunisations
                            system: http://snomed.info/sct
                        subject:
                          reference: Patient/04603d77-1a4e-4d63-b246-d7504f8bd833
                        date: '2019-03-01T10:57:34+00:00'
                        orderedBy:
                          coding:
                          - code: event-date
                            system: http://hl7.org/fhir/list-order
                        entry:
                        - item:
                            reference: Immunization/eba25af1-5b74-4790-aa5a-2134fd27ad45
                    - resource:
                        resourceType: Immunization
                        id: eba25af1-5b74-4790-aa5a-2134fd27ad45
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-Immunization-1
                        extension:
                        - url: https://fhir.nhs.uk/STU3/StructureDefinition/Extension-CareConnect-GPC-ParentPresent-1
                          valueBoolean: true
                        - url: https://fhir.nhs.uk/STU3/StructureDefinition/Extension-CareConnect-GPC-DateRecorded-1
                          valueDateTime: '2019-06-28T10:00:00+01:00'
                        - url: https://fhir.hl7.org.uk/STU3/StructureDefinition/Extension-CareConnect-VaccinationProcedure-1
                          valueCodeableConcept:
                            coding:
                            - system: http://snomed.info/sct
                              code: '170378007'
                              display: First hepatitis A vaccination
                        identifier:
                        - system: https://provider.nhs.uk/data-identifier
                          value: '874365876458743'
                        status: completed
                        notGiven: false
                        vaccineCode:
                          coding:
                          - system: 'http://hl7.org/fhir/v3/NullFlavor '
                            code: UNK
                          text: Unknown
                        patient:
                          reference: Patient/04603d77-1a4e-4d63-b246-d7504f8bd833
                        encounter:
                          reference: Encounter/Encounter1
                        date: '2019-06-28'
                        primarySource: true
                        location:
                          reference: Location/17
                        manufacturer:
                          reference: Organization/db67f447-b30d-442a-8e31-6918d1367eec
                        lotNumber: AAJN11K
                        expirationDate: '2019-12-15'
                        site:
                          coding:
                          - system: http://snomed.info/sct
                            code: '368209003'
                            display: Right upper arm
                        route:
                          coding:
                          - system: http://snomed.info/sct
                            code: '34206005'
                            display: Subcutaneous route
                        doseQuantity:
                          value: 0.5
                          system: http://unitsofmeasure.org
                          code: ml
                        practitioner:
                        - role:
                            coding:
                            - system: http://hl7.org/fhir/stu3/valueset-immunization-role.html
                              code: AP
                          actor:
                            reference: Practitioner/6c41ebfd-57c3-4162-9d7b-208c171a2fd7
                        note:
                        - text: Notes on adminstration of vaccine
                        explanation:
                          reason:
                          - coding:
                            - system: http://snomed.info/sct
                              code: '171279008'
                              display: Immunisation due
                        vaccinationProtocol:
                        - doseSequence: 1
                          seriesDoses: 3
                          targetDisease:
                          - coding:
                            - system: http://snomed.info/sct
                              code: '40468003'
                              display: Viral hepatitis, type A
                          doseStatus:
                            coding:
                            - system: http://hl7.org/fhir/stu3/valueset-vaccination-protocol-dose-status.html
                              code: count
                              display: Counts
                allergies:
                  value:
                    resourceType: Bundle
                    meta:
                      profile:
                      - https://fhir.nhs.uk/STU3/StructureDefinition/GPConnect-StructuredRecord-Bundle-1
                    type: collection
                    entry:
                    - resource:
                        resourceType: Patient
                        id: 04603d77-1a4e-4d63-b246-d7504f8bd833
                        meta:
                          versionId: '1469448000000'
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-Patient-1
                        extension:
                        - url: https://fhir.nhs.uk/STU3/StructureDefinition/Extension-CareConnect-GPC-RegistrationDetails-1
                          extension:
                          - url: registrationPeriod
                            valuePeriod:
                              start: '1962-07-13T00:00:00+00:00'
                        identifier:
                        - extension:
                          - url: https://fhir.nhs.uk/STU3/StructureDefinition/Extension-CareConnect-GPC-NHSNumberVerificationStatus-1
                            valueCodeableConcept:
                              coding:
                              - system: https://fhir.nhs.uk/CareConnect-NHSNumberVerificationStatus-1
                                code: '01'
                                display: Number present and verified
                          system: https://fhir.nhs.uk/Id/nhs-number
                          value: '9999999999'
                        active: true
                        name:
                        - use: official
                          text: JACKSON Jane (Miss)
                          family: Jackson
                          given:
                          - Jane
                          prefix:
                          - Miss
                        telecom:
                        - system: phone
                          value: 01454587554
                          use: home
                        gender: female
                        birthDate: '1952-05-31'
                        address:
                        - use: home
                          type: physical
                          line:
                          - Cable Place
                          - Roundhay
                          city: Leeds
                          district: West Yorkshire
                          postalCode: LS1 5HT
                        generalPractitioner:
                          reference: Practitioner/6c41ebfd-57c3-4162-9d7b-208c171a2fd7
                        managingOrganization:
                          reference: Organization/db67f447-b30d-442a-8e31-6918d1367eeb
                    - resource:
                        resourceType: Organization
                        id: db67f447-b30d-442a-8e31-6918d1367eeb
                        meta:
                          versionId: '636064088098730113'
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-Organization-1
                        identifier:
                        - system: https://fhir.nhs.uk/Id/ods-organization-code
                          value: O001
                        name: The Trevelyan Practice
                        address:
                        - line:
                          - Trevelyan Square
                          - Boar Ln
                          city: Leeds
                          district: West Yorkshire
                          postalCode: LS1 6AE
                        telecom:
                        - system: phone
                          value: 03003035678
                          use: work
                    - resource:
                        resourceType: Practitioner
                        id: 6c41ebfd-57c3-4162-9d7b-208c171a2fd7
                        meta:
                          versionId: '1469448000000'
                          lastUpdated: '2016-07-25T12:00:00.000+00:00'
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-Practitioner-1
                        identifier:
                        - system: https://fhir.nhs.uk/Id/sds-user-id
                          value: G13579135
                        name:
                        - use: usual
                          family: Gilbert
                          given:
                          - Nichole
                          prefix:
                          - Miss
                        gender: female
                    - resource:
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-PractitionerRole-1
                        resourceType: PractitionerRole
                        id: e0244de8-07ef-4274-9f7a-d7067bcc8d21
                        practitioner:
                          reference: Practitioner/6c41ebfd-57c3-4162-9d7b-208c171a2fd7
                        organization:
                          reference: Organization/db67f447-b30d-442a-8e31-6918d1367eeb
                        code:
                        - coding:
                          - system: https://fhir.hl7.org.uk/STU3/CodeSystem/CareConnect-SDSJobRoleName-1
                            code: R0260
                            display: General Medical Practitioner
                    - resource:
                        resourceType: List
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-List-1
                        status: current
                        title: Active Allergies
                        code:
                          coding:
                          - display: Allergies and adverse reaction
                            system: http://snomed.info/sct
                            code: '886921000000105'
                        entry:
                        - item:
                            reference: AllergyIntolerance/561850bd-360c-4d17-b3c8-a837ef0cbfba
                        - item:
                            reference: AllergyIntolerance/6bff710a-0bdc-4c9b-b98b-40db0a107edc
                        - item:
                            reference: AllergyIntolerance/5eb0f76a-cecb-4b83-999d-ddb76e551a9b
                        - item:
                            reference: AllergyIntolerance/d92b7d42-554d-4c92-b829-e76508185702
                        date: '2018-03-01T10:57:34+00:00'
                        mode: snapshot
                        orderedBy:
                          coding:
                          - system: http://hl7.org/fhir/list-order
                            code: event-date
                        subject:
                          reference: Patient/04603d77-1a4e-4d63-b246-d7504f8bd833
                    - resource:
                        resourceType: List
                        contained:
                        - resourceType: AllergyIntolerance
                          id: Resolved-1
                          identifier:
                          - system: https://provider.nhs.uk/data-identifier
                            value: '83426283749629'
                          extension:
                          - url: https://fhir.nhs.uk/STU3/StructureDefinition/Extension-CareConnect-GPC-AllergyIntoleranceEnd-1
                            extension:
                            - url: endDate
                              valueDateTime: '2018-03-01'
                            - url: reasonEnded
                              valueString: Patient reports no subsequent recurrence on same medication
                          reaction:
                          - manifestation:
                            - coding:
                              - display: Vomiting
                                code: '422400008'
                                system: http://snomed.info/sct
                                extension:
                                - url: https://fhir.hl7.org.uk/STU3/StructureDefinition/Extension-coding-sctdescid
                                  extension:
                                  - url: DescriptionID
                                    valueId: '2647992016'
                                  - url: DescriptionDisplay
                                    valueString: Emesis
                            severity: severe
                          verificationStatus: unconfirmed
                          assertedDate: '2011-05-07T00:00:00+00:00'
                          type: intolerance
                          code:
                            coding:
                            - display: Aspirin 75mg dispersible tablet
                              code: '319773006'
                              system: http://snomed.info/sct
                              extension:
                              - url: https://fhir.hl7.org.uk/STU3/StructureDefinition/Extension-coding-sctdescid
                                extension:
                                - url: DescriptionID
                                  valueId: '56962301000001119'
                          clinicalStatus: resolved
                          patient:
                            reference: Patient/04603d77-1a4e-4d63-b246-d7504f8bd833
                          note:
                          - text: 'Allergy Type: Adverse Reaction, Certainty: Absolute, Severity: Very Severe, NOTES: Some freetext notes'
                          recorder:
                            reference: PractitionerRole/e0244de8-07ef-4274-9f7a-d7067bcc8d21
                          category:
                          - medication
                          meta:
                            profile:
                            - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-AllergyIntolerance-1
                          criticality: low
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-List-1
                        status: current
                        title: Resolved Allergies
                        code:
                          coding:
                          - display: Resolved Allergies
                            system: http://snomed.info/sct
                            code: TBD
                        entry:
                        - item:
                            reference: '#Resolved-1'
                        date: '2018-03-01T10:57:34+00:00'
                        mode: snapshot
                        orderedBy:
                          coding:
                          - system: http://hl7.org/fhir/list-order
                            code: event-date
                        subject:
                          identifier:
                            system: https://fhir.nhs.uk/Id/nhs-number
                            value: '1234567890'
                    - resource:
                        resourceType: AllergyIntolerance
                        id: 6bff710a-0bdc-4c9b-b98b-40db0a107edc
                        identifier:
                        - system: https://provider.nhs.uk/data-identifier
                          value: '83426283749639'
                        reaction:
                        - manifestation:
                          - coding:
                            - display: O/E - itchy rash
                              code: '304386008'
                              system: http://snomed.info/sct
                              extension:
                              - url: https://fhir.hl7.org.uk/STU3/StructureDefinition/Extension-coding-sctdescid
                                extension:
                                - url: DescriptionID
                                  valueId: '446685017'
                          severity: mild
                        verificationStatus: unconfirmed
                        assertedDate: '2012-05-07T00:00:00+00:00'
                        type: allergy
                        code:
                          coding:
                          - display: Amoxicillin 250mg capsules
                            code: '323509004'
                            system: http://snomed.info/sct
                            extension:
                            - url: https://fhir.hl7.org.uk/STU3/StructureDefinition/Extension-coding-sctdescid
                              extension:
                              - url: DescriptionID
                                valueId: '56966201000001112'
                        clinicalStatus: active
                        patient:
                          reference: Patient/04603d77-1a4e-4d63-b246-d7504f8bd833
                        note:
                        - text: 'Certainty: Likely, Severity: Minimal, NOTES: Some freetext notes'
                        recorder:
                          reference: PractitionerRole/e0244de8-07ef-4274-9f7a-d7067bcc8d21
                        category:
                        - medication
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-AllergyIntolerance-1
                        criticality: low
                    - resource:
                        resourceType: AllergyIntolerance
                        id: 5eb0f76a-cecb-4b83-999d-ddb76e551a9b
                        identifier:
                        - system: https://provider.nhs.uk/data-identifier
                          value: '83426283749649'
                        reaction:
                        - manifestation:
                          - coding:
                            - display: Peanut-induced anaphylaxis
                              code: '241933001'
                              system: http://snomed.info/sct
                              extension:
                              - url: https://fhir.hl7.org.uk/STU3/StructureDefinition/Extension-coding-sctdescid
                                extension:
                                - url: DescriptionID
                                  valueId: '362151013'
                            text: Anaphalactic shock
                          severity: severe
                        verificationStatus: unconfirmed
                        assertedDate: '2016-02-08T10:57:34+00:00'
                        type: allergy
                        code:
                          coding:
                          - display: Peanut - dietary
                            code: '256349002'
                            system: http://snomed.info/sct
                            extension:
                            - url: https://fhir.hl7.org.uk/STU3/StructureDefinition/Extension-coding-sctdescid
                              extension:
                              - url: DescriptionID
                                valueId: '381852012'
                              - url: DescriptionDisplay
                                valueString: Peanut
                          text: Nut allergy
                        clinicalStatus: active
                        patient:
                          reference: Patient/04603d77-1a4e-4d63-b246-d7504f8bd833
                        note:
                        - text: 'Certainty: Certain, Severity: Life Threatening, NOTES: notes on the peanut allergy'
                        recorder:
                          reference: PractitionerRole/e0244de8-07ef-4274-9f7a-d7067bcc8d21
                        category:
                        - environment
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-AllergyIntolerance-1
                        criticality: high
                    - resource:
                        resourceType: AllergyIntolerance
                        id: d92b7d42-554d-4c92-b829-e76508185702
                        identifier:
                        - system: https://provider.nhs.uk/data-identifier
                          value: '83426283749659'
                        verificationStatus: unconfirmed
                        type: allergy
                        code:
                          coding:
                          - display: Transfer-degraded drug allergy
                            code: '196461000000101'
                            system: http://snomed.info/sct
                            extension:
                            - url: https://fhir.hl7.org.uk/STU3/StructureDefinition/Extension-coding-sctdescid
                              extension:
                              - url: DescriptionID
                                valueId: '294801000000114'
                          text: Allergy to paracetemol
                        clinicalStatus: active
                        patient:
                          reference: Patient/04603d77-1a4e-4d63-b246-d7504f8bd833
                        note:
                        - text: 'NOTES: This was entered incorrectly on the source system as a history/journal entry and not as a drug allergy'
                        assertedDate: '2016-01-08T11:57:34+00:00'
                        category:
                        - medication
                        recorder:
                          reference: PractitionerRole/e0244de8-07ef-4274-9f7a-d7067bcc8d21
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-AllergyIntolerance-1
                fullRecordResponse:
                  value:
                    resourceType: Bundle
                    id: 37bf5683-8134-4621-9904-19f2c99b183f
                    meta:
                      profile:
                      - https://fhir.nhs.uk/STU3/StructureDefinition/GPConnect-StructuredRecord-Bundle-1
                    type: collection
                    entry:
                    - resource:
                        resourceType: Patient
                        id: f8ac400000000000
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-Patient-1
                          versionId: E6F60FC8AD9B8B63E4F96DE5CE0AB430
                          lastUpdated: '2023-02-10T11:41:36+00:00'
                        identifier:
                        - extension:
                          - url: https://fhir.nhs.uk/STU3/StructureDefinition/Extension-CareConnect-GPC-NHSNumberVerificationStatus-1
                            valueCodeableConcept:
                              coding:
                              - system: https://fhir.nhs.uk/STU3/CodeSystem/CareConnect-NHSNumberVerificationStatus-1
                                code: '01'
                                display: Number present and verified
                          system: https://fhir.nhs.uk/Id/nhs-number
                          value: '9465701947'
                        name:
                        - prefix:
                          - Mrs
                          given:
                          - Test
                          family: TppMisc
                          use: official
                        address:
                        - use: home
                          type: both
                          line:
                          - The House
                          - 1 Northern Parade
                          city: Portsmouth
                          district: Hampshire
                          postalCode: PO2 9PF
                        birthDate: '1974-03-18'
                        gender: female
                        active: true
                        managingOrganization:
                          reference: Organization/0100000000000000_0b00000000000000
                        generalPractitioner:
                        - reference: Practitioner/26f1000000000000
                        extension:
                        - url: https://fhir.nhs.uk/STU3/StructureDefinition/Extension-CareConnect-GPC-RegistrationDetails-1
                          extension:
                          - url: registrationPeriod
                            valuePeriod:
                              start: '2010-12-09T00:00:00+00:00'
                          - url: registrationType
                            valueCodeableConcept:
                              coding:
                              - system: https://fhir.nhs.uk/STU3/CodeSystem/CareConnect-RegistrationType-1
                                code: R
                                display: Regular
                          - url: preferredBranchSurgery
                            valueReference:
                              reference: Location/0100000000000000_0b00000000000000
                    - resource:
                        resourceType: List
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-List-1
                        status: current
                        mode: snapshot
                        title: Allergies and adverse reactions
                        code:
                          coding:
                          - system: http://snomed.info/sct
                            code: '886921000000105'
                            display: Allergies and adverse reactions
                        subject:
                          reference: Patient/f8ac400000000000
                        note:
                        - text: Information not available
                        emptyReason:
                          coding:
                          - system: https://fhir.nhs.uk/STU3/CodeSystem/CareConnect-ListEmptyReasonCode-1
                            code: no-content-recorded
                            display: No Content Recorded
                        extension:
                        - url: https://fhir.nhs.uk/STU3/StructureDefinition/Extension-CareConnect-GPC-ClinicalSetting-1
                          valueCodeableConcept:
                            coding:
                            - system: http://snomed.info/sct
                              code: '1060971000000108'
                              display: General practice service
                    - resource:
                        resourceType: List
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-List-1
                        status: current
                        mode: snapshot
                        title: Ended allergies
                        code:
                          coding:
                          - system: http://snomed.info/sct
                            code: '1103671000000101'
                            display: Ended allergies
                        subject:
                          reference: Patient/f8ac400000000000
                        note:
                        - text: Information not available
                        emptyReason:
                          coding:
                          - system: https://fhir.nhs.uk/STU3/CodeSystem/CareConnect-ListEmptyReasonCode-1
                            code: no-content-recorded
                            display: No Content Recorded
                        extension:
                        - url: https://fhir.nhs.uk/STU3/StructureDefinition/Extension-CareConnect-GPC-ClinicalSetting-1
                          valueCodeableConcept:
                            coding:
                            - system: http://snomed.info/sct
                              code: '1060971000000108'
                              display: General practice service
                    - resource:
                        resourceType: MedicationStatement
                        id: 1000000000000000_8b55c40000000000
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-MedicationStatement-1
                        identifier:
                        - system: https://tpp-uk.com/Id/ccs-id
                          value: 1000000000000000_8b55c40000000000
                        basedOn:
                        - reference: MedicationRequest/1000000000000000_8b55c40000000000_plan
                        context:
                          reference: Encounter/4000000000000000_8844170000000000
                        status: active
                        medicationReference:
                          reference: Medication/QWxjb2hvbCAtIEJlZXIgb3IgQ2lkZXI=
                        effectivePeriod:
                          start: '2010-12-16'
                        subject:
                          reference: Patient/f8ac400000000000
                        taken: unk
                        dateAsserted: '2010-08-17T15:00:29+01:00'
                        dosage:
                        - text: Used 2-6 days per week
                        extension:
                        - url: https://fhir.nhs.uk/STU3/StructureDefinition/Extension-CareConnect-GPC-MedicationStatementLastIssueDate-1
                          valueDateTime: '2010-12-16'
                        - url: https://fhir.nhs.uk/STU3/StructureDefinition/Extension-CareConnect-GPC-PrescribingAgency-1
                          valueCodeableConcept:
                            coding:
                            - system: https://fhir.nhs.uk/STU3/CodeSystem/CareConnect-PrescribingAgency-1
                              code: prescribed-at-gp-practice
                              display: Prescribed at GP practice
                    - resource:
                        resourceType: MedicationRequest
                        id: 1000000000000000_8b55c40000000000_plan
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-MedicationRequest-1
                        identifier:
                        - system: https://tpp-uk.com/Id/ccs-id
                          value: 1000000000000000_8b55c40000000000_plan
                        status: active
                        intent: plan
                        medicationReference:
                          reference: Medication/QWxjb2hvbCAtIEJlZXIgb3IgQ2lkZXI=
                        context:
                          reference: Encounter/4000000000000000_8844170000000000
                        subject:
                          reference: Patient/f8ac400000000000
                        authoredOn: '2010-08-17T15:00:29+01:00'
                        recorder:
                          reference: Practitioner/26f1000000000000
                        dosageInstruction:
                        - text: Used 2-6 days per week
                        dispenseRequest:
                          quantity:
                            extension:
                            - url: https://fhir.nhs.uk/STU3/StructureDefinition/Extension-CareConnect-GPC-MedicationQuantityText-1
                              valueString: (Primary) Route=Oral, Age first use=16 years
                          validityPeriod:
                            start: '2010-12-16'
                        extension:
                        - url: https://fhir.nhs.uk/STU3/StructureDefinition/Extension-CareConnect-GPC-PrescriptionType-1
                          valueCodeableConcept:
                            coding:
                            - system: https://fhir.nhs.uk/STU3/CodeSystem/CareConnect-PrescriptionType-1
                              code: delayed-prescribing
                              display: Delayed prescribing
                    - resource:
                        resourceType: MedicationRequest
                        id: 1000000000000000_8b55c40000000000_order
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-MedicationRequest-1
                        identifier:
                        - system: https://tpp-uk.com/Id/ccs-id
                          value: 1000000000000000_8b55c40000000000_order
                        status: active
                        intent: order
                        medicationReference:
                          reference: Medication/QWxjb2hvbCAtIEJlZXIgb3IgQ2lkZXI=
                        context:
                          reference: Encounter/4000000000000000_8844170000000000
                        subject:
                          reference: Patient/f8ac400000000000
                        authoredOn: '2010-08-17T15:00:29+01:00'
                        recorder:
                          reference: Practitioner/26f1000000000000
                        basedOn:
                        - reference: MedicationRequest/1000000000000000_8b55c40000000000_plan
                        dosageInstruction:
                        - text: Used 2-6 days per week
                        dispenseRequest:
                          quantity:
                            extension:
                            - url: https://fhir.nhs.uk/STU3/StructureDefinition/Extension-CareConnect-GPC-MedicationQuantityText-1
                              valueString: (Primary) Route=Oral, Age first use=16 years
                          validityPeriod:
                            start: '2010-12-16'
                        extension:
                        - url: https://fhir.nhs.uk/STU3/StructureDefinition/Extension-CareConnect-GPC-PrescriptionType-1
                          valueCodeableConcept:
                            coding:
                            - system: https://fhir.nhs.uk/STU3/CodeSystem/CareConnect-PrescriptionType-1
                              code: delayed-prescribing
                              display: Delayed prescribing
                    - resource:
                        resourceType: Medication
                        id: QWxjb2hvbCAtIEJlZXIgb3IgQ2lkZXI=
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-Medication-1
                        code:
                          coding:
                          - system: http://snomed.info/sct
                            code: '196421000000109'
                            display: Transfer-degraded medication entry
                          text: Alcohol - Beer or Cider
                    - resource:
                        resourceType: MedicationStatement
                        id: 1000000000000000_9b55c40000000000
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-MedicationStatement-1
                        identifier:
                        - system: https://tpp-uk.com/Id/ccs-id
                          value: 1000000000000000_9b55c40000000000
                        basedOn:
                        - reference: MedicationRequest/1000000000000000_9b55c40000000000_plan
                        context:
                          reference: Encounter/4000000000000000_8844170000000000
                        status: completed
                        medicationReference:
                          reference: Medication/SGFsbHVjaW5vZ2VucyAtIEtldGFtaW5l
                        effectivePeriod:
                          start: '1977-07-14'
                          end: '2007-04-12'
                        subject:
                          reference: Patient/f8ac400000000000
                        taken: unk
                        dateAsserted: '2010-08-17T15:00:29+01:00'
                        dosage:
                        - text: Used once per week or less
                        extension:
                        - url: https://fhir.nhs.uk/STU3/StructureDefinition/Extension-CareConnect-GPC-MedicationStatementLastIssueDate-1
                          valueDateTime: '1977-07-14'
                        - url: https://fhir.nhs.uk/STU3/StructureDefinition/Extension-CareConnect-GPC-PrescribingAgency-1
                          valueCodeableConcept:
                            coding:
                            - system: https://fhir.nhs.uk/STU3/CodeSystem/CareConnect-PrescribingAgency-1
                              code: prescribed-at-gp-practice
                              display: Prescribed at GP practice
                    - resource:
                        resourceType: MedicationRequest
                        id: 1000000000000000_9b55c40000000000_plan
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-MedicationRequest-1
                        identifier:
                        - system: https://tpp-uk.com/Id/ccs-id
                          value: 1000000000000000_9b55c40000000000_plan
                        status: completed
                        intent: plan
                        medicationReference:
                          reference: Medication/SGFsbHVjaW5vZ2VucyAtIEtldGFtaW5l
                        context:
                          reference: Encounter/4000000000000000_8844170000000000
                        subject:
                          reference: Patient/f8ac400000000000
                        authoredOn: '2010-08-17T15:00:29+01:00'
                        recorder:
                          reference: Practitioner/26f1000000000000
                        dosageInstruction:
                        - text: Used once per week or less
                        dispenseRequest:
                          expectedSupplyDuration:
                            value: 10864
                            unit: day
                            system: http://unitsofmeasure.org
                            code: d
                          quantity:
                            extension:
                            - url: https://fhir.nhs.uk/STU3/StructureDefinition/Extension-CareConnect-GPC-MedicationQuantityText-1
                              valueString: (Secondary) Route=Sniff, Age first use=15 years
                          validityPeriod:
                            start: '1977-07-14'
                            end: '2007-04-12'
                        extension:
                        - url: https://fhir.nhs.uk/STU3/StructureDefinition/Extension-CareConnect-GPC-PrescriptionType-1
                          valueCodeableConcept:
                            coding:
                            - system: https://fhir.nhs.uk/STU3/CodeSystem/CareConnect-PrescriptionType-1
                              code: delayed-prescribing
                              display: Delayed prescribing
                    - resource:
                        resourceType: MedicationRequest
                        id: 1000000000000000_9b55c40000000000_order
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-MedicationRequest-1
                        identifier:
                        - system: https://tpp-uk.com/Id/ccs-id
                          value: 1000000000000000_9b55c40000000000_order
                        status: completed
                        intent: order
                        medicationReference:
                          reference: Medication/SGFsbHVjaW5vZ2VucyAtIEtldGFtaW5l
                        context:
                          reference: Encounter/4000000000000000_8844170000000000
                        subject:
                          reference: Patient/f8ac400000000000
                        authoredOn: '2010-08-17T15:00:29+01:00'
                        recorder:
                          reference: Practitioner/26f1000000000000
                        basedOn:
                        - reference: MedicationRequest/1000000000000000_9b55c40000000000_plan
                        dosageInstruction:
                        - text: Used once per week or less
                        dispenseRequest:
                          expectedSupplyDuration:
                            value: 10864
                            unit: day
                            system: http://unitsofmeasure.org
                            code: d
                          quantity:
                            extension:
                            - url: https://fhir.nhs.uk/STU3/StructureDefinition/Extension-CareConnect-GPC-MedicationQuantityText-1
                              valueString: (Secondary) Route=Sniff, Age first use=15 years
                          validityPeriod:
                            start: '1977-07-14'
                            end: '2007-04-12'
                        extension:
                        - url: https://fhir.nhs.uk/STU3/StructureDefinition/Extension-CareConnect-GPC-PrescriptionType-1
                          valueCodeableConcept:
                            coding:
                            - system: https://fhir.nhs.uk/STU3/CodeSystem/CareConnect-PrescriptionType-1
                              code: delayed-prescribing
                              display: Delayed prescribing
                    - resource:
                        resourceType: Medication
                        id: SGFsbHVjaW5vZ2VucyAtIEtldGFtaW5l
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-Medication-1
                        code:
                          coding:
                          - system: http://snomed.info/sct
                            code: '196421000000109'
                            display: Transfer-degraded medication entry
                          text: Hallucinogens - Ketamine
                    - resource:
                        resourceType: MedicationStatement
                        id: 1000000000000000_ab55c40000000000
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-MedicationStatement-1
                        identifier:
                        - system: https://tpp-uk.com/Id/ccs-id
                          value: 1000000000000000_ab55c40000000000
                        basedOn:
                        - reference: MedicationRequest/1000000000000000_ab55c40000000000_plan
                        context:
                          reference: Encounter/4000000000000000_8844170000000000
                        status: active
                        medicationReference:
                          reference: Medication/U29sdmVudHMgLSBBbXlsIE5pdHJhdGU=
                        effectivePeriod:
                          start: '2010-05-12'
                        subject:
                          reference: Patient/f8ac400000000000
                        taken: unk
                        dateAsserted: '2010-08-17T15:00:29+01:00'
                        dosage:
                        - text: Used more than once daily
                        extension:
                        - url: https://fhir.nhs.uk/STU3/StructureDefinition/Extension-CareConnect-GPC-MedicationStatementLastIssueDate-1
                          valueDateTime: '2010-05-12'
                        - url: https://fhir.nhs.uk/STU3/StructureDefinition/Extension-CareConnect-GPC-PrescribingAgency-1
                          valueCodeableConcept:
                            coding:
                            - system: https://fhir.nhs.uk/STU3/CodeSystem/CareConnect-PrescribingAgency-1
                              code: prescribed-at-gp-practice
                              display: Prescribed at GP practice
                    - resource:
                        resourceType: MedicationRequest
                        id: 1000000000000000_ab55c40000000000_plan
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-MedicationRequest-1
                        identifier:
                        - system: https://tpp-uk.com/Id/ccs-id
                          value: 1000000000000000_ab55c40000000000_plan
                        status: active
                        intent: plan
                        medicationReference:
                          reference: Medication/U29sdmVudHMgLSBBbXlsIE5pdHJhdGU=
                        context:
                          reference: Encounter/4000000000000000_8844170000000000
                        subject:
                          reference: Patient/f8ac400000000000
                        authoredOn: '2010-08-17T15:00:29+01:00'
                        recorder:
                          reference: Practitioner/26f1000000000000
                        dosageInstruction:
                        - text: Used more than once daily
                        dispenseRequest:
                          quantity:
                            extension:
                            - url: https://fhir.nhs.uk/STU3/StructureDefinition/Extension-CareConnect-GPC-MedicationQuantityText-1
                              valueString: (Tertiary) Route=Inject, Age first use=0 years
                          validityPeriod:
                            start: '2010-05-12'
                        extension:
                        - url: https://fhir.nhs.uk/STU3/StructureDefinition/Extension-CareConnect-GPC-PrescriptionType-1
                          valueCodeableConcept:
                            coding:
                            - system: https://fhir.nhs.uk/STU3/CodeSystem/CareConnect-PrescriptionType-1
                              code: delayed-prescribing
                              display: Delayed prescribing
                    - resource:
                        resourceType: MedicationRequest
                        id: 1000000000000000_ab55c40000000000_order
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-MedicationRequest-1
                        identifier:
                        - system: https://tpp-uk.com/Id/ccs-id
                          value: 1000000000000000_ab55c40000000000_order
                        status: active
                        intent: order
                        medicationReference:
                          reference: Medication/U29sdmVudHMgLSBBbXlsIE5pdHJhdGU=
                        context:
                          reference: Encounter/4000000000000000_8844170000000000
                        subject:
                          reference: Patient/f8ac400000000000
                        authoredOn: '2010-08-17T15:00:29+01:00'
                        recorder:
                          reference: Practitioner/26f1000000000000
                        basedOn:
                        - reference: MedicationRequest/1000000000000000_ab55c40000000000_plan
                        dosageInstruction:
                        - text: Used more than once daily
                        dispenseRequest:
                          quantity:
                            extension:
                            - url: https://fhir.nhs.uk/STU3/StructureDefinition/Extension-CareConnect-GPC-MedicationQuantityText-1
                              valueString: (Tertiary) Route=Inject, Age first use=0 years
                          validityPeriod:
                            start: '2010-05-12'
                        extension:
                        - url: https://fhir.nhs.uk/STU3/StructureDefinition/Extension-CareConnect-GPC-PrescriptionType-1
                          valueCodeableConcept:
                            coding:
                            - system: https://fhir.nhs.uk/STU3/CodeSystem/CareConnect-PrescriptionType-1
                              code: delayed-prescribing
                              display: Delayed prescribing
                    - resource:
                        resourceType: Medication
                        id: U29sdmVudHMgLSBBbXlsIE5pdHJhdGU=
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-Medication-1
                        code:
                          coding:
                          - system: http://snomed.info/sct
                            code: '196421000000109'
                            display: Transfer-degraded medication entry
                          text: Solvents - Amyl Nitrate
                    - resource:
                        resourceType: List
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-List-1
                        status: current
                        mode: snapshot
                        title: Medications and medical devices
                        code:
                          coding:
                          - system: http://snomed.info/sct
                            code: '933361000000108'
                            display: Medications and medical devices
                        subject:
                          reference: Patient/f8ac400000000000
                        entry:
                        - item:
                            reference: MedicationStatement/1000000000000000_8b55c40000000000
                        - item:
                            reference: MedicationStatement/1000000000000000_9b55c40000000000
                        - item:
                            reference: MedicationStatement/1000000000000000_ab55c40000000000
                        extension:
                        - url: https://fhir.nhs.uk/STU3/StructureDefinition/Extension-CareConnect-GPC-ClinicalSetting-1
                          valueCodeableConcept:
                            coding:
                            - system: http://snomed.info/sct
                              code: '1060971000000108'
                              display: General practice service
                    - resource:
                        resourceType: Observation
                        id: 5000000000000000_67eb070000000000
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-Observation-1
                        identifier:
                        - system: https://tpp-uk.com/Id/ccs-id
                          value: 5000000000000000_67eb070000000000
                        status: final
                        code:
                          coding:
                          - extension:
                            - url: https://fhir.hl7.org.uk/STU3/StructureDefinition/Extension-coding-sctdescid
                              extension:
                              - url: descriptionId
                                valueId: '255266011'
                            system: http://snomed.info/sct
                            code: '163939000'
                            display: O/E - visual acuity R-eye=6/12
                        subject:
                          reference: Patient/f8ac400000000000
                        context:
                          reference: Encounter/4000000000000000_8844170000000000
                        effectiveDateTime: '2010-08-17T15:00:29+01:00'
                        issued: '2010-12-16T14:53:36+00:00'
                        performer:
                        - reference: Practitioner/26f1000000000000
                        - reference: Organization/0100000000000000_0b00000000000000
                    - resource:
                        resourceType: Observation
                        id: 5000000000000000_77eb070000000000
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-Observation-1
                        identifier:
                        - system: https://tpp-uk.com/Id/ccs-id
                          value: 5000000000000000_77eb070000000000
                        status: final
                        code:
                          coding:
                          - extension:
                            - url: https://fhir.hl7.org.uk/STU3/StructureDefinition/Extension-coding-sctdescid
                              extension:
                              - url: descriptionId
                                valueId: '344804017'
                            system: http://snomed.info/sct
                            code: '230065006'
                            display: Chain smoker
                        subject:
                          reference: Patient/f8ac400000000000
                        context:
                          reference: Encounter/4000000000000000_8844170000000000
                        effectiveDateTime: '2010-08-17T15:00:29+01:00'
                        issued: '2010-12-16T14:53:36+00:00'
                        performer:
                        - reference: Practitioner/26f1000000000000
                        - reference: Organization/0100000000000000_0b00000000000000
                    - resource:
                        resourceType: Observation
                        id: 5000000000000000_57eb070000000000
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-Observation-1
                        identifier:
                        - system: https://tpp-uk.com/Id/ccs-id
                          value: 5000000000000000_57eb070000000000
                        status: final
                        code:
                          coding:
                          - extension:
                            - url: https://fhir.hl7.org.uk/STU3/StructureDefinition/Extension-coding-sctdescid
                              extension:
                              - url: descriptionId
                                valueId: '255284013'
                            system: http://snomed.info/sct
                            code: '163954006'
                            display: O/E - visual acuity L-eye=6/18
                        subject:
                          reference: Patient/f8ac400000000000
                        context:
                          reference: Encounter/4000000000000000_8844170000000000
                        effectiveDateTime: '2010-08-17T15:00:29+01:00'
                        issued: '2010-12-16T14:53:36+00:00'
                        performer:
                        - reference: Practitioner/26f1000000000000
                        - reference: Organization/0100000000000000_0b00000000000000
                    - resource:
                        resourceType: Observation
                        id: 5000000000000000_37eb070000000000
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-Observation-1
                        identifier:
                        - system: https://tpp-uk.com/Id/ccs-id
                          value: 5000000000000000_37eb070000000000
                        status: final
                        code:
                          coding:
                          - extension:
                            - url: https://fhir.hl7.org.uk/STU3/StructureDefinition/Extension-coding-sctdescid
                              extension:
                              - url: descriptionId
                                valueId: '255282012'
                            system: http://snomed.info/sct
                            code: '163952005'
                            display: O/E - visual acuity L-eye =6/9
                        subject:
                          reference: Patient/f8ac400000000000
                        context:
                          reference: Encounter/4000000000000000_8844170000000000
                        effectiveDateTime: '2010-08-17T15:00:29+01:00'
                        issued: '2010-12-16T14:53:36+00:00'
                        performer:
                        - reference: Practitioner/26f1000000000000
                        - reference: Organization/0100000000000000_0b00000000000000
                        comment: 'Visual aid: Correction Type - Spectacles'
                    - resource:
                        resourceType: Observation
                        id: 5000000000000000_47eb070000000000
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-Observation-1
                        identifier:
                        - system: https://tpp-uk.com/Id/ccs-id
                          value: 5000000000000000_47eb070000000000
                        status: final
                        code:
                          coding:
                          - extension:
                            - url: https://fhir.hl7.org.uk/STU3/StructureDefinition/Extension-coding-sctdescid
                              extension:
                              - url: descriptionId
                                valueId: '255264014'
                            system: http://snomed.info/sct
                            code: '163937003'
                            display: O/E - visual acuity R-eye =6/6
                        subject:
                          reference: Patient/f8ac400000000000
                        context:
                          reference: Encounter/4000000000000000_8844170000000000
                        effectiveDateTime: '2010-08-17T15:00:29+01:00'
                        issued: '2010-12-16T14:53:36+00:00'
                        performer:
                        - reference: Practitioner/26f1000000000000
                        - reference: Organization/0100000000000000_0b00000000000000
                        comment: 'Visual aid: Correction Type - Spectacles'
                    - resource:
                        resourceType: Observation
                        id: 5000000000000000_c5fb070000000000
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-Observation-1
                        identifier:
                        - system: https://tpp-uk.com/Id/ccs-id
                          value: 5000000000000000_c5fb070000000000
                        status: final
                        code:
                          coding:
                          - extension:
                            - url: https://fhir.hl7.org.uk/STU3/StructureDefinition/Extension-coding-sctdescid
                              extension:
                              - url: descriptionId
                                valueId: '294691000000115'
                            system: http://snomed.info/sct
                            code: '196411000000103'
                            display: Transfer-degraded record entry
                          text: Smear Under Other GMS
                        subject:
                          reference: Patient/f8ac400000000000
                        context:
                          reference: Encounter/4000000000000000_8c44170000000000
                        effectiveDateTime: '2010-09-02T12:27:25+01:00'
                        issued: '2011-02-16T12:27:25+00:00'
                        performer:
                        - reference: Practitioner/26f1000000000000
                        - reference: Organization/0100000000000000_0b00000000000000
                        related:
                        - type: derived-from
                          target:
                            reference: Observation/5000000000000000_b5fb070000000000
                    - resource:
                        resourceType: Observation
                        id: 5000000000000000_b5fb070000000000
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-Observation-1
                        identifier:
                        - system: https://tpp-uk.com/Id/ccs-id
                          value: 5000000000000000_b5fb070000000000
                        status: final
                        code:
                          coding:
                          - extension:
                            - url: https://fhir.hl7.org.uk/STU3/StructureDefinition/Extension-coding-sctdescid
                              extension:
                              - url: descriptionId
                                valueId: '2791776014'
                            system: http://snomed.info/sct
                            code: '438633009'
                            display: Sampling of vaginal vault for smear
                          text: Vaginal vault smear
                        subject:
                          reference: Patient/f8ac400000000000
                        context:
                          reference: Encounter/4000000000000000_8c44170000000000
                        effectiveDateTime: '2010-09-02T12:27:25+01:00'
                        issued: '2011-02-16T12:27:25+00:00'
                        performer:
                        - reference: Practitioner/26f1000000000000
                        - reference: Organization/0100000000000000_0b00000000000000
                        comment: 'These are the notes on the smear

                          with some line breaks'
                        related:
                        - type: has-member
                          target:
                            reference: Observation/5000000000000000_c5fb070000000000
                        - type: has-member
                          target:
                            reference: Observation/5000000000000000_d5fb070000000000
                        - type: has-member
                          target:
                            reference: Observation/5000000000000000_e5fb070000000000
                        - type: has-member
                          target:
                            reference: Observation/5000000000000000_f5fb070000000000
                        - type: has-member
                          target:
                            reference: Observation/5000000000000000_e4fb070000000000
                        - type: has-member
                          target:
                            reference: Observation/5000000000000000_f4fb070000000000
                        - type: has-member
                          target:
                            reference: Observation/5000000000000000_d4fb070000000000
                        - type: has-member
                          target:
                            reference: Observation/5000000000000000_15fb070000000000
                        - type: has-member
                          target:
                            reference: Observation/5000000000000000_05fb070000000000
                    - resource:
                        resourceType: Observation
                        id: 5000000000000000_d5fb070000000000
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-Observation-1
                        identifier:
                        - system: https://tpp-uk.com/Id/ccs-id
                          value: 5000000000000000_d5fb070000000000
                        status: final
                        code:
                          coding:
                          - extension:
                            - url: https://fhir.hl7.org.uk/STU3/StructureDefinition/Extension-coding-sctdescid
                              extension:
                              - url: descriptionId
                                valueId: '294691000000115'
                            system: http://snomed.info/sct
                            code: '196411000000103'
                            display: Transfer-degraded record entry
                          text: Speculum Serial Number
                        subject:
                          reference: Patient/f8ac400000000000
                        context:
                          reference: Encounter/4000000000000000_8c44170000000000
                        effectiveDateTime: '2010-09-02T12:27:25+01:00'
                        issued: '2011-02-16T12:27:25+00:00'
                        performer:
                        - reference: Practitioner/26f1000000000000
                        - reference: Organization/0100000000000000_0b00000000000000
                        comment: hhhhh
                        related:
                        - type: derived-from
                          target:
                            reference: Observation/5000000000000000_b5fb070000000000
                    - resource:
                        resourceType: Observation
                        id: 5000000000000000_e5fb070000000000
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-Observation-1
                        identifier:
                        - system: https://tpp-uk.com/Id/ccs-id
                          value: 5000000000000000_e5fb070000000000
                        status: final
                        code:
                          coding:
                          - extension:
                            - url: https://fhir.hl7.org.uk/STU3/StructureDefinition/Extension-coding-sctdescid
                              extension:
                              - url: descriptionId
                                valueId: '355048014'
                            system: http://snomed.info/sct
                            code: '236886002'
                            display: Hysterectomy
                        subject:
                          reference: Patient/f8ac400000000000
                        context:
                          reference: Encounter/4000000000000000_8c44170000000000
                        effectiveDateTime: '2010-09-02T12:27:25+01:00'
                        issued: '2011-02-16T12:27:25+00:00'
                        performer:
                        - reference: Practitioner/26f1000000000000
                        - reference: Organization/0100000000000000_0b00000000000000
                        related:
                        - type: derived-from
                          target:
                            reference: Observation/5000000000000000_b5fb070000000000
                    - resource:
                        resourceType: Observation
                        id: 5000000000000000_f5fb070000000000
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-Observation-1
                        identifier:
                        - system: https://tpp-uk.com/Id/ccs-id
                          value: 5000000000000000_f5fb070000000000
                        status: final
                        code:
                          coding:
                          - extension:
                            - url: https://fhir.hl7.org.uk/STU3/StructureDefinition/Extension-coding-sctdescid
                              extension:
                              - url: descriptionId
                                valueId: '2549581015'
                            system: http://snomed.info/sct
                            code: '417036008'
                            display: Liquid based cervical cytology screening
                        subject:
                          reference: Patient/f8ac400000000000
                        context:
                          reference: Encounter/4000000000000000_8c44170000000000
                        effectiveDateTime: '2010-09-02T12:27:25+01:00'
                        issued: '2011-02-16T12:27:25+00:00'
                        performer:
                        - reference: Practitioner/26f1000000000000
                        - reference: Organization/0100000000000000_0b00000000000000
                        related:
                        - type: derived-from
                          target:
                            reference: Observation/5000000000000000_b5fb070000000000
                    - resource:
                        resourceType: Observation
                        id: 5000000000000000_e4fb070000000000
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-Observation-1
                        identifier:
                        - system: https://tpp-uk.com/Id/ccs-id
                          value: 5000000000000000_e4fb070000000000
                        status: final
                        code:
                          coding:
                          - extension:
                            - url: https://fhir.hl7.org.uk/STU3/StructureDefinition/Extension-coding-sctdescid
                              extension:
                              - url: descriptionId
                                valueId: '294691000000115'
                            system: http://snomed.info/sct
                            code: '196411000000103'
                            display: Transfer-degraded record entry
                          text: Smear information leaflet given
                        subject:
                          reference: Patient/f8ac400000000000
                        context:
                          reference: Encounter/4000000000000000_8c44170000000000
                        effectiveDateTime: '2010-09-02T12:27:25+01:00'
                        issued: '2011-02-16T12:27:25+00:00'
                        performer:
                        - reference: Practitioner/26f1000000000000
                        - reference: Organization/0100000000000000_0b00000000000000
                        related:
                        - type: derived-from
                          target:
                            reference: Observation/5000000000000000_b5fb070000000000
                    - resource:
                        resourceType: Observation
                        id: 5000000000000000_f4fb070000000000
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-Observation-1
                        identifier:
                        - system: https://tpp-uk.com/Id/ccs-id
                          value: 5000000000000000_f4fb070000000000
                        status: final
                        code:
                          coding:
                          - extension:
                            - url: https://fhir.hl7.org.uk/STU3/StructureDefinition/Extension-coding-sctdescid
                              extension:
                              - url: descriptionId
                                valueId: '294691000000115'
                            system: http://snomed.info/sct
                            code: '196411000000103'
                            display: Transfer-degraded record entry
                          text: Smear consent given
                        subject:
                          reference: Patient/f8ac400000000000
                        context:
                          reference: Encounter/4000000000000000_8c44170000000000
                        effectiveDateTime: '2010-09-02T12:27:25+01:00'
                        issued: '2011-02-16T12:27:25+00:00'
                        performer:
                        - reference: Practitioner/26f1000000000000
                        - reference: Organization/0100000000000000_0b00000000000000
                        related:
                        - type: derived-from
                          target:
                            reference: Observation/5000000000000000_b5fb070000000000
                    - resource:
                        resourceType: Observation
                        id: 5000000000000000_d4fb070000000000
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-Observation-1
                        identifier:
                        - system: https://tpp-uk.com/Id/ccs-id
                          value: 5000000000000000_d4fb070000000000
                        status: final
                        code:
                          coding:
                          - extension:
                            - url: https://fhir.hl7.org.uk/STU3/StructureDefinition/Extension-coding-sctdescid
                              extension:
                              - url: descriptionId
                                valueId: '458552019'
                            system: http://snomed.info/sct
                            code: '314229006'
                            display: Presence of chaperone
                        subject:
                          reference: Patient/f8ac400000000000
                        context:
                          reference: Encounter/4000000000000000_8c44170000000000
                        effectiveDateTime: '2010-09-02T12:27:25+01:00'
                        issued: '2011-02-16T12:27:25+00:00'
                        performer:
                        - reference: Practitioner/26f1000000000000
                        - reference: Organization/0100000000000000_0b00000000000000
                        comment: Notes on the chaperone
                        related:
                        - type: derived-from
                          target:
                            reference: Observation/5000000000000000_b5fb070000000000
                    - resource:
                        resourceType: Observation
                        id: 5000000000000000_15fb070000000000
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-Observation-1
                        identifier:
                        - system: https://tpp-uk.com/Id/ccs-id
                          value: 5000000000000000_15fb070000000000
                        status: final
                        code:
                          coding:
                          - extension:
                            - url: https://fhir.hl7.org.uk/STU3/StructureDefinition/Extension-coding-sctdescid
                              extension:
                              - url: descriptionId
                                valueId: '294691000000115'
                            system: http://snomed.info/sct
                            code: '196411000000103'
                            display: Transfer-degraded record entry
                          text: 'Smear Reason: Clinically Indicated'
                        subject:
                          reference: Patient/f8ac400000000000
                        context:
                          reference: Encounter/4000000000000000_8c44170000000000
                        effectiveDateTime: '2010-09-02T12:27:25+01:00'
                        issued: '2011-02-16T12:27:25+00:00'
                        performer:
                        - reference: Practitioner/26f1000000000000
                        - reference: Organization/0100000000000000_0b00000000000000
                        related:
                        - type: derived-from
                          target:
                            reference: Observation/5000000000000000_b5fb070000000000
                    - resource:
                        resourceType: Observation
                        id: 5000000000000000_05fb070000000000
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-Observation-1
                        identifier:
                        - system: https://tpp-uk.com/Id/ccs-id
                          value: 5000000000000000_05fb070000000000
                        status: final
                        code:
                          coding:
                          - extension:
                            - url: https://fhir.hl7.org.uk/STU3/StructureDefinition/Extension-coding-sctdescid
                              extension:
                              - url: descriptionId
                                valueId: '4634601019'
                            system: http://snomed.info/sct
                            code: '263844007'
                            display: Maternal postnatal period
                          text: Postnatal
                        subject:
                          reference: Patient/f8ac400000000000
                        context:
                          reference: Encounter/4000000000000000_8c44170000000000
                        effectiveDateTime: '2010-09-02T12:27:25+01:00'
                        issued: '2011-02-16T12:27:25+00:00'
                        performer:
                        - reference: Practitioner/26f1000000000000
                        - reference: Organization/0100000000000000_0b00000000000000
                        related:
                        - type: derived-from
                          target:
                            reference: Observation/5000000000000000_b5fb070000000000
                    - resource:
                        resourceType: Observation
                        id: 5000000000000000_0adb070000000000
                        meta:
                          profile:
                          - https://fhir.nhs.uk/STU3/StructureDefinition/CareConnect-GPC-Observation-1
                        identifier:
                        - system: https://tpp-uk.com/Id/ccs-id
                          value: 5000000000000000_0adb070000000000
                        status: final
                        code:
                          coding:
                          - extension:
                            - url: https://fhir.hl7.org.uk/STU3/StructureDefinition/Extension-coding-sctdescid
                              extension:
                              - url: descriptionId
[...]
